.moncercle {
  background: #342b86;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  display: inline-block;
  margin: auto;

  background: radial-gradient(
      circle at 50% 0,
      rgba(255, 0, 0, 0.5),
      rgba(255, 0, 0, 0) 70.71%
    ),
    radial-gradient(
      circle at 6.7% 75%,
      rgba(0, 0, 255, 0.5),
      rgba(0, 0, 255, 0) 70.71%
    ),
    radial-gradient(
        circle at 93.3% 75%,
        rgba(47, 0, 255, 0.808),
        rgba(0, 255, 0, 0) 70.71%
      )
      beige;
  border-radius: 50%;
}
#moncercle2 {
  background: #342b86;
  border-radius: 50%;
  width: 500px;
  height: 500px;

  margin: auto;

  background: radial-gradient(
      circle at 50% 0,
      rgba(255, 0, 0, 0.5),
      rgba(255, 0, 0, 0) 70.71%
    ),
    radial-gradient(
      circle at 6.7% 75%,
      rgba(0, 0, 255, 0.5),
      rgba(0, 0, 255, 0) 70.71%
    ),
    radial-gradient(
        circle at 93.3% 75%,
        rgba(47, 0, 255, 0.808),
        rgba(0, 255, 0, 0) 70.71%
      )
      beige;
  border-radius: 50%;
  float: left;
}
